

<%- include ('partials/top.ejs') %>
<link href="/header.css" rel="stylesheet">
</head>
<body>
<div id= "main-section" >
<%- include ('partials/navBar.ejs') %>

<div id='dLanchor'></div>

  <div  class= "results-container" id="resCoin" >

    <div id="results"></div>
    <div id="sub-results-container"> 
    	<% for (var i=0;i<search.length;i++){%>
       	<p style="color:#BCE125"> <%= search[i].terms %></p>
         <p><%= search[i].count%> </p>
         <p><%= page[i].search_date %> </p>
         <p><%= page[i].search_time %> </p>
         <% } %>

    </div>
  </div
</div>

</div>
</body>
</html>
